UIArayuzForm/Connected Services/ServiceReference2/MessagesCrud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MessageList">
        <s:complexType />
      </s:element>
      <s:element name="MessageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageListResult" type="tns:ArrayOfPart" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:Part" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Part">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfirmedMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MessageID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmedMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmedMessagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddedMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="categoryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddedMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddedMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MessageListSoapIn">
    <wsdl:part name="parameters" element="tns:MessageList" />
  </wsdl:message>
  <wsdl:message name="MessageListSoapOut">
    <wsdl:part name="parameters" element="tns:MessageListResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmedMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmedMessages" />
  </wsdl:message>
  <wsdl:message name="ConfirmedMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmedMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="AddedMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AddedMessage" />
  </wsdl:message>
  <wsdl:message name="AddedMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AddedMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="MessagesCrudSoap">
    <wsdl:operation name="MessageList">
      <wsdl:input message="tns:MessageListSoapIn" />
      <wsdl:output message="tns:MessageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmedMessages">
      <wsdl:input message="tns:ConfirmedMessagesSoapIn" />
      <wsdl:output message="tns:ConfirmedMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddedMessage">
      <wsdl:input message="tns:AddedMessageSoapIn" />
      <wsdl:output message="tns:AddedMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagesCrudSoap" type="tns:MessagesCrudSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MessageList">
      <soap:operation soapAction="http://tempuri.org/MessageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmedMessages">
      <soap:operation soapAction="http://tempuri.org/ConfirmedMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddedMessage">
      <soap:operation soapAction="http://tempuri.org/AddedMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessagesCrudSoap12" type="tns:MessagesCrudSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MessageList">
      <soap12:operation soapAction="http://tempuri.org/MessageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmedMessages">
      <soap12:operation soapAction="http://tempuri.org/ConfirmedMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddedMessage">
      <soap12:operation soapAction="http://tempuri.org/AddedMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessagesCrud">
    <wsdl:port name="MessagesCrudSoap" binding="tns:MessagesCrudSoap">
      <soap:address location="https://localhost:44308/MessagesCrud.asmx" />
    </wsdl:port>
    <wsdl:port name="MessagesCrudSoap12" binding="tns:MessagesCrudSoap12">
      <soap12:address location="https://localhost:44308/MessagesCrud.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>